<tr class="font-normal text-[13.02px] text-left underline-offset-auto decoration-slice">
  <td class="py-2 px-2 gradient-border-bottom max-w-[200px] break-words">
    <i class="fas fa-circle mr-2 text-<%= icon_color(ticket.ticket_type) %>"></i>
    <a href=<%= "/tickets/#{ticket.id.to_s}" %> class="ml-4 text-sm font-medium" data-action="click->form-swap#showTicket"> 
      <%= "TECH-" + ticket.id.to_s %>
    </a>
    <span class="ml-2 text-sm font-normal">
      <%= ticket.summary %>
    </span>
  </td>
  <% if ticket.time_logged == "0.00" || ticket.time_logged == "0h" || ticket.time_logged.nil?%>
    <td class="py-2 text-left text-sm font-normal leading-[16.96px] py-2 px-2 gradient-border-bottom gradient-border-left max-w-[200px] break-words">
      No time logged. 
      <a href="<%= "/tickets/#{ticket.id.to_s}" %>" 
     class="underline text-[13px]" 
     data-action="click->form-swap#showTicket">
        Log Time
      </a>
    </td>
  <% else %>
    <td class="py-2 text-left text-sm font-normal leading-[16.96px] py-2 px-2 gradient-border-bottom gradient-border-left max-w-[200px] break-words">
      <%= ticket.time_logged %>
    </td>
  <% end %>
</tr>
<%# style="border-bottom: 1px solid; border-image-source: linear-gradient(to right, red , yellow); border-image-slice: 1;" %>